[mysqld]
server_id              = 1
log_bin                = mysqld-bin
log_slave_updates      = 1
relay_log              = relay-mysqld-bin
master_info_repository = TABLE

# gtid
gtid_mode = ON
enforce_gtid_consistency
